<div class="subheader p-none pl-none">
    <div class="max__w__850 m-none">
        <div class="row" >
            <div class="col-xs-12 col-md-12 pl-none">
                <a href="#" class="subheader__title">
                    <img class="mr-sm" src="../../../../assets/images/left-arrow.gif" alt="Add new location">
                    <span>Add New Location</span>
                </a>
            </div>
        </div>
    </div> 
</div>

<div class="max__w__850 add__location">
    <form>
        <div class="bg__white card__inside__pad box__shadow-cmn m-none">
            <div class="row border-bottom__c4d1e6">
                <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
                <div class="form-group ">
                    <label for="study">Location ID</label>
                    <input type="text" class="form-control" id="study"  placeholder="Enter Location ID">
                </div>
                </div>
                <div class="col-xs-12 col-md-6 p-none">
                <div class="form-group ">
                    <label for="app">Location Name</label>
                    <input type="text" class="form-control" id="app"  placeholder="Enter Location Name">
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 p-none">
                <div class="form-group">
                    <label for="Location">Description</label>
                    <input type="text" class="form-control" id="app"  placeholder="Enter Description">
                </div>
                </div>
            </div>
        </div>
        <div class="btn__container">
            <button type="submit" class="btn bt__add mr-sm">Add</button>
            <button type="button" class="btn bt__cancel" (click)="modalRef.hide()">Cancel</button>
        </div>
    </form>
</div>
