<header>
  <div id="desktop-menu">
    <div class="bs-example bs__example">
      <nav class="navbar navbar-expand-md p-none ">
        <a href="#" class="navbar-brand"><img class="mr-sm" src="../../../assets/images/landing-logo.gif" /><span
            class="header__logo__text">FDA MyStudies </span></a>
        <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button> -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
            <div class="navbar-nav display-flex-center">
              <div class="navbar-nav inner-addon right-addon search-icon">
                <input type="text" [attr.placeholder]="searchPlaceholder" autocomplete="off" [(ngModel)]="filterQuery" class="form-control search-box search__" />
                <button (click)="search()">search</button>

              </div>
              <a href="#" class="nav-item nav-link active">DashBoard</a>
              <a href="#" class="nav-item nav-link">Location</a>
              <a href="#" class="nav-item nav-link">User</a>
              <a href="#" class="nav-item nav-link">My Account <span class="navbar__name">J</span></a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div id="mobile-menu">
    <div id="mySidenav__menubar">
      <div class="">
        <a href="#" class="text-center">
          <img class="mr-sm" src="../../../assets/images/landing-logo.gif" />
          <span class="header__logo__text">FDA MyStudies </span>
        </a>
        <span class="openNav" style="float:right" (click)="opencloseNav()">&#9776;</span>
      </div>
    </div>
    <div id="mySidenav" class="sidenav" [ngClass]="opencloseNavval ? 'display__block' : 'display__none'">
      <a href="javascript:void(0)" class="closebtn mb-md" id="closeMobile" (click)="opencloseNav()"
        style="font-size: 30px !important;line-height:15px;float:right">×</a>
      <div class="search-icon mb-md">
        <input type="text" [attr.placeholder]="searchPlaceholder" class="form-control search-box search__" />
        <button (click)="search()">search</button>
      </div>
      <ul class="user__profile__ul">
        <li><a href="#" class="nav-item nav-link active">DashBoard</a></li>
        <li><a href="#" class="nav-item nav-link">Location</a></li>
        <li><a href="#" class="nav-item nav-link">User</a></li>
        <li><a href="#" class="nav-item nav-link">My Account <span class="navbar__name">J</span></a></li>
      </ul>
    </div>
  </div>
</header>


<router-outlet (activate)="onActivate($event)"></router-outlet>

<!-- <footer>
  <div class="text-center flex__container">
    <div>©2020 FDA My Studies. All rights reserved.</div>
    <div class="flex__container">
      <ul>
      <li><a  href="#">About</a></li>
      <li><a  href="#">Terms of Service</a></li>
    </ul>
  </div>
  </div>
</footer> -->