<div class="subheader p-none">
  <div class="max__w__1280 m-none">
    <div class="flex__justify__space-between" >
      <div class="subheader__title">Locations</div>
      <div class="" ><button class="btn btn-primary  width__auto blue__btn font14">Add Location</button></div>
    </div>
  </div>
</div> 
<div class="max__w__1280 m-none">
  <div class="cards1 m-none">
    <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
      <tr>
        <th>
          <mfDefaultSorter by="name">Location ID</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="email">Location Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="age">Associated Studies</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="city">Status</mfDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of mf.data">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.age}}</td>
        <td>{{user.city | uppercase}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
  