<div class="subheader p-none pl-none">
  <div class="max__w__1280 m-none">
      <div class="flex__justify__space-between" >
        <div class="subheader__title flex__justify__space-between align__items__baseline">
          <div>
           <a routerLink="/user/dashboard" ><img class="mr-sm" src="../../../../assets/images/left-arrow.gif" alt="Add new location"></a> 
          </div>
          <div>
            <div class="mb-xs">Study Participant Registry</div>
            <div class="flex__justify__space-between ">
              <div  *ngIf="studyDetails.type=='OPEN'" class="pr-xlg">
                <div class="text__4285f4__up__11">SITE</div>
                <div class="text__8495a5__12">NA (Open Study)</div>
              </div>
              <div class="pr-xlg">
                <div class="text__4285f4__up__11">{{studyDetails.customStudyId}}</div>
                <div class="text__8495a5__12">{{studyDetails.studyName}}</div>
              </div>
              <div class="pr-xlg">
                <div class="text__4285f4__up__11">{{studyDetails.customAppId}}</div>
                <div class="text__8495a5__12">{{studyDetails.appName}}</div>
              </div>
              <div  *ngIf="studyDetails.type=='OPEN'" class="pr-xlg">
                <div class="text__4285f4__up__11">Enrollment Target: {{studyDetails.target}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div> 
</div>

  <div class="max__w__1280 m-none site__participant">
    <div class="cards1 m-none">
      <table class="table table-striped" [mfData]="studyDetails.registryParticipants" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="name">Participant Email</mfDefaultSorter>
            </th>
            <th *ngIf="studyDetails.type!='OPEN'">
              <mfDefaultSorter by="email">Site ID</mfDefaultSorter>
            </th>
            <th  *ngIf="studyDetails.type!='OPEN'">
              <mfDefaultSorter by="age">Onboarding Status </mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="age">Enrollment Status </mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="city">Enrollment Date</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lists of mf.data">
            <td (click)="participantDetails(lists.id)"> {{lists.email}}</td>
            <td  *ngIf="studyDetails.type!='OPEN'">{{lists.locationName}}</td>
            <td  *ngIf="studyDetails.type!='OPEN'"> <div [ngClass]="{'text__353a3e__14': (lists.onboardingStatus == 'Invited'),  'text__8495a5__14': (lists.onboardingStatus == 'Disabled')}">{{lists.onboardingStatus }}</div></td>  
            <td><div [ngClass]="{'text__353a3e__14': (lists.enrollmentStatus == 'Enrolled'),  'text__8495a5__14': (lists.enrollmentStatus == 'Withdrawn')}">{{lists.enrollmentStatus }}</div></td>
            <td>{{lists.enrollmentDate}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
  </div>
  </div>

<ng-template #template>
  <div class="modal-body modal__body">
    <form>
      <div class="row border__bottom__c4d1e6">
        <div class="col-xs-12 col-md-12 p-none ">
          <div class="form-group border-radius__77">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="study" value="" placeholder="Enter Email">
          </div>
        </div>
      </div>
      <div class="p-xlg flex__justify__space-between">
          <div><button type="submit" class="btn bt__add mr-sm">Add</button>
              <button type="button" class="btn bt__cancel" (click)="modalRef.hide()">Cancel</button>
          </div>
      </div>
    </form>
  </div>
</ng-template>