
<div class="centered__div box__shadow-cmn">
	<div class="text-center login-logo">
		<img src="../../../../assets/images/google-logo.gif" />
	</div>
	<div class="font24__353a3e text-center login-logo__text">Sign In</div>
	<div class="input__feild">
		<label>Email</label>
		<input type="text" name="username" placeholder="Enter Email" value="petersmith@urfdastudies.com">
	</div>
	<div class="input__feild">
		<label>Password</label>
		<input type="password" name="password" placeholder="Enter Password">
	</div>
	<div class="input__feild login__btn__container display-flex-center">
		<div class="col-md-7 pl-none"><button class="btn btn-primary  width__auto blue__btn" (click)="login()">Sign In</button></div>
		<div class="col-md-5  pr-none text-right"><a class="blue__link">Forgot Password?</a></div>
		<div class="clearfix"></div>
	</div>
</div>

<footer>
	<div class=""> 
	  &copy; 2019 FDA MyStudies. All rights reserved.
	</div>
	<div class="">
	  <ul>
	  <li><a  href="#">About</a></li>
	  <li><a  href="#">Terms of Service</a></li>
	</ul>
  </div>
  </footer>

