<div class="subheader p-none pl-none" ng-disabled="true">
  <div class="max__w__1280 m-none">
    <div class="flex__justify__space-between">
      <div class="subheader__title flex__justify__space-between align__items__baseline">
        <div>
          <img routerLink="/user/dashboard" class="mr-sm" src="../../../../assets/images/left-arrow.gif"
            alt="Add new location">
        </div>
        <div>
          <div class="mb-xs">Site Participant Registry</div>
          <div class="display-webkit-box overflow__auto">
            <div class="pr-xlg">
              <div class="text__4285f4__up__11">{{siteParticipants.customLocationId}}</div>
              <div class="text__8495a5__12">{{siteParticipants.locationName}}</div>
            </div>
            <div class="pr-xlg">
              <div class="text__4285f4__up__11">{{siteParticipants.customStudyId}}</div>
              <div class="text__8495a5__12">{{siteParticipants.studyName}}</div>
            </div>
            <div>
              <div class="text__4285f4__up__11">{{siteParticipants.customAppId}}</div>
              <div class="text__8495a5__12">{{siteParticipants.appName}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="desk__view">
        <div class="flex__justify__space-between ">
          <div class="">
            <div class="dropdown">
              <button class="dropbtn btn bt__1a73e8 mr-sm" (click)="myFunction()">Add Participants
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content myDropdown" id="myDropdown">
                <div class="flex__justify__space-between mb-xs">
                  <div class="mr-sm">
                    <button class="bt__4285f4 font__bold" #template (click)="openModal(template)">Add Email</button>
                  </div>
                  <div>
                    <input #importedFile type="file" accept=".xlsx" class="btn btn-success" id="import_participant_file"
                      (change)="onFileChange($event)" />
                    <button class="bt__4285f4 font__bold" (click)="importPartcipants()">Import Email List</button>
                  </div>
                </div>
                <div class=" flex__row__reverse">
                  <a download="Email_Import_Template" target="_blank" href="/assets/Email_Import_Template.xlsx">
                    <div class="text__4285f4__10">Download Template </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn bt__757575 flex__row__reverse pad__5__13 font14"
              (click)="decommissionSite()">{{(siteParticipants.siteStatus === 1 )?'Decommission Site for Study':'Activate Site for Study'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile__view yel__tabs">
  <div class="p-md pb-none">
    <div class="flex__ flex__justify__center  ">
      <div class="">
        <div class="dropdown">
          <button class="dropbtn btn bt__1a73e8 mr-sm font12" (click)="myFunction()">Add Participants
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content myDropdown" id="myDropdown">
            <div class="flex__justify__space-between mb-xs">
              <div class="mr-sm">
                <button class="bt__4285f4 font__bold" #template (click)="openModal(template)">Add Email</button>
              </div>
              <div>
                <button class="bt__4285f4 font__bold">Import Email List</button>
              </div>
            </div>
            <div class=" flex__row__reverse">
              <div class="text__4285f4__10">Download Template</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="submit" class="btn bt__757575 flex__row__reverse pad__5__13 font12"
          (click)="decommissionSite()">Decommission Site for
          Study</button>
      </div>
    </div>
  </div>
  <div>
    <ul class=" nav nav-tabs " *ngIf="siteParticipants.countByStatus">
      <li [ngClass]="{'active':activeTab=='all'}"><a data-toggle="tab" (click)="changeTab('all')">All <span
            class="text__fbbc05__11">({{siteParticipants.countByStatus.A }})</span></a></li>
      <li [ngClass]="{'active':activeTab=='new'}"><a data-toggle="tab" (click)="changeTab('new')">New <span
            class="text__747d84__11">({{siteParticipants.countByStatus.N}})</span></a></li>
      <li [ngClass]="{'active':activeTab=='invited'}"><a data-toggle="tab" (click)="changeTab('invited')">Invited <span
            class="text__747d84__11">({{siteParticipants.countByStatus.I}})</span></a></li>
      <li [ngClass]="{'active':activeTab=='disabled'}"><a data-toggle="tab" (click)="changeTab('disabled')">Disabled
          <span class="text__747d84__11">({{siteParticipants.countByStatus.D}})</span></a></li>
      <li></li>
    </ul>
  </div>
  <div class="sred">
    <div class="flex__ flex__justify__center">
      <div *ngIf="activeTab=='new'" class="mr-sm">
        <button class="dropbtn btn bt__1a73e8 text__fff bt__font12__pad113" (click)="sendResendInvitation()">Send
          Invitation</button>
      </div>
      <div *ngIf="activeTab=='invited'" class="mr-sm">
        <button class="dropbtn btn bt__1a73e8 text__fff bt__font12__pad113" (click)="sendResendInvitation()">Resend
          Invitation</button>
      </div>
      <div *ngIf="activeTab=='new' || activeTab=='invited'">
        <button type="submit" class="btn bt__757575 flex__row__reverse pad__5__13 bt__font12__pad113"
          (click)="enableAndDisable('0')">Disable
          Invitation</button>
      </div>
      <div *ngIf="activeTab=='disable'">
        <button class="dropbtn btn bt__1a73e8 text__fff bt__font12__pad113 bg__34a853"
          (click)="enableAndDisable('1')">Enable Invitation</button>
      </div>
    </div>
  </div>
</div>

<div class="max__w__1280  p-none site__participant ">
  <div class="desk__view">
    <div class="flex__justify__space-between bg__white yel__tabs border-bottom__dee2e6">
      <div>
        <ul class=" nav nav-tabs " *ngIf="siteParticipants.countByStatus">
          <li [ngClass]="{'active':activeTab=='all'}"><a data-toggle="tab" (click)="changeTab('all')">All <span
                class="text__fbbc05__11">({{siteParticipants.countByStatus.A}})</span></a></li>
          <li [ngClass]="{'active':activeTab=='new'}"><a data-toggle="tab" (click)="changeTab('new')">New <span
                class="text__747d84__11">({{siteParticipants.countByStatus.N}})</span></a></li>
          <li [ngClass]="{'active':activeTab=='invited'}"><a data-toggle="tab" (click)="changeTab('invited')">Invited
              <span class="text__747d84__11">({{siteParticipants.countByStatus.I}})</span></a></li>
          <li [ngClass]="{'active':activeTab=='disabled'}"><a data-toggle="tab" (click)="changeTab('disabled')">Disabled
              <span class="text__747d84__11">({{siteParticipants.countByStatus.D}})</span></a></li>
          <li></li>
        </ul>
      </div>
      <div class="pr-xlg">
        <div class="flex__justify__space-between mb-xs">
          <div class="mr-sm" *ngIf="activeTab=='new'">
            <button class="dropbtn btn bt__1a73e8 text__fff bt__font12__pad113" (click)="sendResendInvitation()">Send
              Invitation</button>
          </div>
          <div class="mr-sm" *ngIf="activeTab=='invited'">
            <button class="dropbtn btn bt__1a73e8 text__fff bt__font12__pad113" (click)="sendResendInvitation()">Resend
              Invitation</button>
          </div>
          <div *ngIf="activeTab=='new' || activeTab=='invited'">
            <button type="submit" class="btn bt__757575 flex__row__reverse pad__5__13 bt__font12__pad113"
              (click)="enableAndDisable('0')">Disable
              Invitation</button>
          </div>
          <div *ngIf="activeTab=='disabled'">
            <button class="dropbtn btn bt__1a73e8 text__fff bt__font12__pad113 bg__34a853"
              (click)="enableAndDisable('1')">Enable Invitation</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content site__table">
    <div *ngIf="activeTab=='all'" class="">
      <table class="table table-striped" [mfData]="siteParticipants.registryParticipants" #mf="mfDataTable"
        [mfRowsOnPage]="10">
        <thead>
          <tr>
            <span class="text__387fea__12 mobile__view mr-sm" style="background:transparent">Sort By: </span>
            <th>
              <mySorter by="name">Participant Email</mySorter>
            </th>
            <th>
              <mySorter by="email">Onboarding Status</mySorter>
            </th>
            <th>
              <mySorter by="age">Enrollment Status </mySorter>
            </th>
            <th>
              <mySorter by="city">Enrollment Date</mySorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participant of mf.data">
            <td (click)="redirectParticipant(participant.id)">{{participant.email}}</td>
            <td>
              <div
                [ngClass]="{'text__353a3e__14': (participant.onboardingStatus == 'Invited'),  'text__8495a5__14': (participant.onboardingStatus == 'Disabled')}">
                {{participant.onboardingStatus}}</div>
            </td>
            <td>
              <div
                [ngClass]="{'text__353a3e__14': (participant.enrollmentStatus == 'Enrolled'),  'text__8495a5__14': (participant.enrollmentStatus == 'Withdrawn')}">
                {{participant.enrollmentStatus}}</div>
            </td>
            <td>{{participant.enrollmentDate}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div *ngIf="activeTab=='new'" class="one__column__td">
      <table class="table table-striped" [mfData]="siteParticipants.registryParticipants" #mf="mfDataTable"
        [mfRowsOnPage]="10">
        <thead>
          <tr>
            <span class="text__387fea__12 mobile__view mr-sm" style="background:transparent">Sort By: </span>
            <th>
              <mySorter by="name">
                <div class="form-group mb-none">
                  <!-- <input type="checkbox" id="css" [(ngModel)]="selectedAll" (change)="selectAll();">
                  <label for="css">Participant Email</label> -->
                  <span>Participant Email</span>

                </div>
              </mySorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participant of mf.data">
            <td>
              <div>
                <div class="form-group mb-none">
                  <input type="checkbox" id="{{participant.id}}" [(ngModel)]="participant.newlyCreatedUser"
                    (change)="rowCheckBoxChange('true')">
                  <label for="{{participant.id}}"><span
                      (click)="redirectParticipant(participant.id)">{{participant.email}}</span></label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div *ngIf="activeTab=='invited'" class="">
      <table class="table table-striped" [mfData]="siteParticipants.registryParticipants" #mf="mfDataTable"
        [mfRowsOnPage]="10">
        <thead>
          <tr>
            <span class="text__387fea__12 mobile__view mr-sm" style="background:transparent">Sort By: </span>
            <th>
              <mySorter by="name">
                <div class="form-group mb-none">
                  <!-- <input type="checkbox" id="css" [(ngModel)]="selectedAll" (change)="selectAll();">
                  <label for="css">Participant Email</label> -->

                  <span>Participant Email</span>
                </div>
              </mySorter>
            </th>
            <th>Last Invited On</th>
            <th>Enrollment Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participant of mf.data">
            <td>
              <div>
                <div class="form-group mb-none">

                   <div *ngIf="participant.enrollmentStatus =='Yet to Enroll'">
                    <input type="checkbox" id="{{participant.id}}" [(ngModel)]="participant.newlyCreatedUser"
                    (change)="rowCheckBoxChange('false')"  >
                    <label  for="{{participant.id}}"><span
                      (click)="redirectParticipant(participant.id)">{{participant.email}}</span></label>
                    </div>
                   <div *ngIf="participant.enrollmentStatus !='Yet to Enroll'">
                <span  (click)="redirectParticipant(participant.id)">{{participant.email}}</span> </div> 
                </div>
              </div>
            </td>
            <td>{{participant.invitedDate}}</td>
            <td>
              <div class="text__353a3e__14">{{participant.enrollmentStatus}}</div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div *ngIf="activeTab=='disabled'" class="">
      <table class="table table-striped" [mfData]="siteParticipants.registryParticipants" #mf="mfDataTable"
        [mfRowsOnPage]="10">
        <thead>
          <tr>
            <span class="text__387fea__12 mobile__view mr-sm" style="background:transparent">Sort By: </span>
            <th>
              <mySorter by="name">
                <div class="form-group mb-none">
                  <!-- <input type="checkbox" id="css" [(ngModel)]="selectedAll" (change)="selectAll();">
                  <label for="css">Participant Email</label> -->
                  <span>Participant Email</span>

                </div>
              </mySorter>
            </th>
            <th>Date Disabled</th>
            <th>Enrollment Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participant of mf.data">
            <td>
              <div>
                <div class="form-group mb-none">
                  <input type="checkbox" id="{{participant.id}}" [(ngModel)]="participant.newlyCreatedUser"
                    (change)="rowCheckBoxChange('false')">
                  <label for="{{participant.id}}"><span
                      (click)="redirectParticipant(participant.id)">{{participant.email}}</span></label>
                </div>
              </div>
            </td>
            <td>{{participant.invitedDate}}</td>
            <td>
              <div class="text__353a3e__14">{{participant.enrollmentStatus}}</div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body modal__body">
    <form #addParticipantForm="ngForm" (ngSubmit)="addParticipant(addParticipantForm)" autocomplete="off">
      <div class="row border__bottom__c4d1e6">
        <div class="col-xs-12 col-md-12 p-none ">
          <div class="form-group border-radius__77">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="study" value="" placeholder="Enter Email"
              pattern='(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)'
              [(ngModel)]="emailIdToAdd" required name="email" #email="ngModel">
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <span class="help-block with-errors error__msg" *ngIf="email.errors.required">
              Please fill the above field.
            </span>
            <span class="help-block with-errors error__msg" *ngIf="email.errors.pattern">
              email is invalid.
            </span>
          </div>
        </div>
      </div>
      <div class="p-xlg flex__justify__space-between">
        <div>
          <button type="submit" [disabled]="!addParticipantForm.form.valid" class="btn bt__add mr-sm">Add</button>
          <button type="button" class="btn bt__cancel" (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>