<div class="subheader p-none pl-none">
    <div class="max__w__1280 m-none">
        <div class="flex__justify__space-between" >
            <div>
                <a href="#" class="subheader__title">
                    <img class="mr-sm" src="../../../../assets/images/left-arrow.gif" alt="Add new location">
                    <span>Location Details</span>
                </a>
            </div>
            <div>
                <button class="btn font12__8495a5 p-none" #template (click)="openModal(template)">
                    <img class="mr-xs" src="../../../../assets/images/edit-icon.gif" alt="Edit Location Details">
                    <span class="text__deco__8495a5 font12__8495a5"> Edit Location Details</span>
                </button>
            </div>
        </div>
    </div> 
</div>

<div class="max__w__1280 add__location">
    <div class="bg__white card__inside__pad box__shadow-cmn m-none">
        <div class="border-bottom__c4d1e6 flex__justify__space-between">
            <div>
              <div class="form-group ">
                  <label for="study">Location ID</label>
                  <div class="font16__353a3e">Location -Id</div>
              </div>
            </div>
            <div>
              <div class="form-group ">
                  <label for="app">Location Name</label>
                  <div class="font16__353a3e">Location - Lorem Impsum 1</div>
              </div>
            </div>
            <div>
              <div class="form-group ">
                <div class="active__34a853n">Active</div>
              </div>
            </div>
        </div>
        <div class="">
            <div class="">
            <div class="form-group">
                <label for="Location">Description</label>
                <div class="font16__353a3e">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="cards__list mb-xlg">
        <div class="subheader__title mb-lg mt-xlg">Associated Studies ( 6 )</div>
        <ul class="box___shadow__radius">
            <li>A Study for Pregnant Women</li>
            <li>A Study for Fitness</li>
            <li>Diet and Nutrietion Study</li>
            <li>Pregnant Women Study</li>
            <li>A Study for Diet </li>
            <li>Daily Health Study</li>
        </ul>
    </div>
</div>
 
 <!-- modal -->
 <ng-template #template>
    <div class="modal-body modal__body">
      <form>
        <div class="row border__bottom__c4d1e6">
          <div class="col-xs-12 col-md-12 p-none ">
            <div class="form-group background__dfe4ec border-radius__77">
              <label for="study">Location ID</label>
              <input type="text" class="form-control" id="study" value="Location -Id" readonly>
            </div>
          </div>
          <div class="col-xs-12 col-md-12 p-none">
            <div class="form-group ">
              <label for="app">Location Name</label>
              <input type="text" class="form-control" id="app" value="Location Name">
            </div>
          </div>
        </div>
        <div class="row border__bottom__c4d1e6">
          <div class="col-xs-12 col-md-12 p-none">
            <div class="form-group">
              <label for="Location">Discription</label>
              <input type="text" class="form-control" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip">
            </div>
          </div>
        </div>
        
        <div class="p-xlg flex__justify__space-between">
            <div><button type="submit" class="btn bt__add mr-sm">Add</button>
                <button type="button" class="btn bt__cancel" (click)="modalRef.hide()">Cancel</button></div>
            <div>
                <button type="submit" class="btn bt__757575 flex__row__reverse">Decommission Location</button>
            </div>
        </div>
      </form>
    </div>
  </ng-template>
   <!-- modal -->