<section class="subheader p-none pl-none">
  <div class="max__w__850 m-none">
    <div class="flex__justify__space-between" >
      <div>
          <a href="#" class="subheader__title">
              <img class="mr-sm" src="../../../../assets/images/left-arrow.gif" alt="User Details">
              <span>User Details</span>
          </a>
      </div>
      <div>
          <button class="btn font12__8495a5 p-none" #template (click)="openModal(template)">
              <img class="mr-xs" src="../../../../assets/images/edit-icon.gif" alt="Edit User Details">
              <span class="text__deco__8495a5 font12__8495a5"> Edit User Details</span>
          </button>
      </div>
  </div>
  </div> 
</section>

<section class="max__w__850 add__location user__details">
      <section class="">
        <div class="bg__white card__inside__pad box__shadow-cmn m-none mb__padding__lg">
          <div>
            <div class="mb__mb-sm">
              <div class="text__4285f4__12 ">Participant Email</div>
              <div class="text__353a3e__26">andreasbrixen@gmail.com</div>
            </div>
            <div>
              <div class="flex__justify__space-between flex__wrap user__details__label">
                <div class="">
                  <div class="text__4285f4__12">First Name</div>
                  <div class="text__34a853__14">Andreas</div>
                </div>
                <div class="">
                  <div class="text__4285f4__12">Last Name</div>
                  <div class="text__34a853__14">brixen</div>
                </div>
                <div class="">
                  <div class="text__4285f4__12">Status </div>
                  <div class="text__353a3e__14">Active</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <h2 class="subheader__title mb-sm">Permissions</h2>

      <section class="bg__white card__inside__pad box__shadow-cmn m-none">
        <div class="row">
          <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
            <div class="form-group">
              <div class="custom__labels">
                <input type="checkbox" id="Users" disabled>
                <label for="Users">Users</label>
              </div>
              <div class="pl-lg text__757b80__12">
                View and edit
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 p-none">
            <div class="form-group ">
              <div class="custom__labels">
                <input type="checkbox" id="pe">
                <label for="pe">Participant Email</label>
              </div>
              <div class="pl-lg text__757b80__12">
                View Only
              </div>
            </div>
          </div>
        </div>
      </section>

    <section class="bg__white card__inside__pad box__shadow-cmn m-none">
      <div class="form-group">
        <div class="text__353a3e__16 pb-lg"> Sites, Studies and Apps</div>
        
        <div class="navbar-nav inner-addon right-addon search-icon">
          <input type="text" [attr.placeholder]="searchPlaceholder" autocomplete="off" [(ngModel)]="filterQuery"
            class="form-control search-box search__" />
          <button (click)="search()">search</button>
        </div>

        <div class="select__form-control__parent">
          <label class="wrap">Select and Add App
            <select class="form-control select__form-control" Placeholder="Enter App ID or Name">
              <option value="APP001">Health Studies App (APP001)</option>
            </select>
         </label>
        </div>
      </div>

      <div class="form-group pt-none">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="flex__justify__space-between">
              <div class="acc__dele">
                <div class="card-header" id="headingOne">
                  <div class="mb-0 flex__justify__space-between">
                    <div class="">
                      <div class="custom__labels">
                        <input type="checkbox" id="Users1" disabled>
                        <label for="Users1">Health Studies App (APP001)</label>
                      </div>
                    </div>
                    <div class=" fa__plus__minus collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></div>
                  </div>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="card-body__pad">
                      <div class="custom__labels">
                        <input type="checkbox" id="Users1" disabled>
                        <label for="Users1">Health Studies App (APP001)</label>
                      </div>
                      <div class="card-body__pad">
                        <span>
                          <input type="radio" id="test1" name="radio-group1">
                          <label for="test1">View</label>
                        </span>
                        <span>
                          <input type="radio" id="test2" name="radio-group1" disabled>
                          <label for="test2">View And Edit</label>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div><img src="../../../../assets/images/delete-icon.gif" alt="delete"></div>
            </div>
          </div>

          <div class="card">
            <div class="flex__justify__space-between">
              <div class="acc__dele">
                <div class="card-header" id="headingTwo">
                  <div class="mb-0 flex__justify__space-between">
                    <div class="">
                      <div class="custom__labels">
                        <input type="checkbox" id="Users2" disabled>
                        <label for="Users2">Better Tomoorow App (APP002)</label>
                      </div>
                      <div class="pl-xl pt-xs">
                        <span>
                          <input type="radio" id="test1" name="radio-group1">
                          <label for="test1">View</label>
                        </span>
                        <span>
                          <input type="radio" id="test2" name="radio-group1" disabled>
                          <label for="test2">View And Edit</label>
                        </span>
                      </div>
                    </div>
                    <div class=" fa__plus__minus" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"></div>
                  </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="accordion sub__accordian card-body__pad" id="accordionExample1">

                      <div class="text__ffbc00__12 pb-sm">Total 2 Studies</div>

                      <div class="card">
                        <div class="card-header" id="headingTwo1">
                          <div class="mb-0 flex__justify__space-between">
                            <div class="">
                              <div class="custom__labels">
                                <input type="checkbox" id="Users1" disabled>
                                <label for="Users1">A Study for Fitness </label>
                              </div>
                              <div class="custom__labels__radio">
                                <span>
                                  <input type="radio" id="test1" name="radio-group1" disabled>
                                  <label for="test1">View</label>
                                </span>
                                <span>
                                  <input type="radio" id="test2" name="radio-group1" disabled>
                                  <label for="test2">View And Edit</label>
                                </span>
                              </div>
                            </div>
                            <div class=" fa__plus__minus" type="button" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1"></div>
                          </div>
                        </div>
                        <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample1">
                          <div class="card-body">
                            <div class="text__ffbc00__12 pad__T10__B20">Total 2 Sites</div>
                            <div class="">
                              <div class="custom__labels">
                                <input type="checkbox" id="Users1" disabled>
                                <label for="Users1">A Study for Fitness </label>
                              </div>
                              <div class="custom__labels__radio">
                                <span>
                                  <input type="radio" id="test1" name="radio-group1" disabled>
                                  <label for="test1">View</label>
                                </span>
                                <span>
                                  <input type="radio" id="test2" name="radio-group1" disabled>
                                  <label for="test2">View And Edit</label>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div><img src="../../../../assets/images/delete-icon.gif" alt="delete"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>

