

//************ common css*****************/

.blue__btn {
    color: #fff;
	background-color: #1a73e8 !important;
    border-color: #1a73e8 !important;
    font-size: 16px !important;
    padding: 4px 15px !important
}
.font14{
	font-size: 14px !important;
}
.blue__btn:hover{
    color: #fff !important;
    background-color: #1a73e8 !important;
	border-color: #1a73e8 !important;
}
.blue__link {
    color: #4285f4 !important;
    font-size:12px;
	text-decoration: none;
	cursor: pointer;
}
.blue__link:hover{
	color: #4285f4 !important;
}


/* You can add global styles to this file, and also import other style files */
body{
    background: #f2f5f8 !important;
    color:#353a3e;
}
input,textarea,select{
	font-size:20px;
	border:none !important;
}
input:focus,textarea:focus,select:focus,button:focus{
    outline:none !important;
	box-shadow: none !important;
	//border: transparent !important;
}
ul{
	margin-bottom:0 !important;
	padding-left:0 !important;
}
.font24__353a3e{
    font-size:24px;
    color:#353a3e;
}

.flex__container {
	display: flex;
	justify-content: center;
}
.green__text{
	color:green;
}
.padding__0__140{
	padding: 0 140px !important;
}
.align__flex__right{
	display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
//************ common css*****************/

/********** header *********/
header{
	background: #fff;
    padding: 10px 40px;
	border-bottom: 1px solid #c4d1e6;
}
.search__{
	border: transparent !important;
	min-width: 300px;
	height: 32px !important;
	line-height: 32px !important;
	background: #f1f3f4 !important;
	font-size:14px !important;
	//background-image: url(asstes/images/search-icon.gif);
	margin-right:20px;
}
.navbar__name{
	background: #a7b5cc;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    line-height: 27px;
    text-align: center;
	font-size: 20px;
	margin-left: 10px;
}

.bs__example a.nav-link{
	color: #73777c;
	font-size: 14px;
	position: relative;
	padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 20px;
    margin-right: 20px;
}
.bs__example a.nav-link:last-child{
	margin-right:0 !important;
}
.bs__example a.nav-link:hover{
	color:#101111;
}
.bs__example a.nav-link.active{
	color:#101111;
}
.bs__example a.nav-link.active:after{
	content: '';
    background: #1a73e8;
    width: 100%;
    height: 3px;
    position: absolute;
	bottom: -14px;
	left: 0;
}
.subheader{
	background: #fff;
	padding: 0 40px;
	padding-left:40px !important;
	height: 70px;
	line-height:70px;
	box-shadow: 0 0px 4px 0 rgba(32, 33, 36, 0.18);
	border-bottom:none !important; 
}
.header__logo__text{
	color:#5e6164;
	//font-weight:600;
	font-size:14px;
}

.subheader__title{
	color:#8495a5;
	font-size:16px;
}
ul.subheader__menu li{
	list-style: none;
	display:inline-block;
}
ul.subheader__menu li a{
	color:#8495a5;
	font-weight:600;
	font-size:16px;
	margin-right:40px;
	padding-bottom: 5px;
}
ul.subheader__menu li.active a{
	color:#4285f4;
	border-bottom: 2px solid #4285f4;
}
/********** header *********/

/********** footer *********/
footer {
	position:fixed;
	bottom:0;
	width:100%;
	height:80px;   /* Height of the footer */
	line-height:80px;
	background:#fff;
	border-top:1px solid #a7b5cc;
 }
footer ul{
	padding-left:0;
}
footer ul li{
	list-style: none;
	display:inline-block;
}
footer ul li  a{
	color:#a7b5cc;
	padding: 0 25px;
	border-right: 1px solid #a7b5cc;
}
footer ul li:last-child  a{
	border-right:0;
}
/********** footer *********/

/********** Main *********/
.bg__white{
	background: #fff;
}
.cards{
	padding:30px;
	margin: 20px 40px;
	border-radius:7px;
}

.cards1{
	padding:0px;
	margin: 20px 140px;
	border-radius:7px;
}
.cards__var{
	padding: 25px;
}
.box__shadow-cmn{
    box-shadow: 1px 1px 5px 0px #a7b5cc;
}
.progress{
	border-radius:30px !important;
}
.progress-bar {
	border-radius:30px;
	background-color:#4285f4;
}
.width__auto{
	width:auto;
}
.align-items-center{
	align-items: center;
}
.flex-wrap-unset{
    flex-wrap: unset !important;
}
.progress-label {
    float: right;
    margin-right: 10px;
}
.progress__bar{
	margin:20px 0;
	//background-color: #007bff !important;
}
.progress__bar .progress{
	height:7px;
	//width:65%;
	width: 190px;
}
.progress-bar{
	background-color: #007bff !important;
}
.progress__bar__row{
	padding: 11px 0;
    border-top: 1px solid #c4d1e6;
}
.progress__bar__row:last-child{
	border-bottom: 1px solid #c4d1e6;
}
.progress{
	background: #cbddfb !important;
}
.lh__6{
	line-height: 6px;
}
.font__bold{
	font-weight: 600;
}
.text__353a3e__20{
	color: #353a3e;
    font-size: 20px;
    font-weight: 600;
}
.text__353a3e__14{
	color: #353a3e;
    font-size: 14px;
    font-weight: 600;
}
.text__757b80__12{
	color: #757b80;
    font-size: 12px;
    font-weight: 600;
}
.text__63bb67__12{
	color: #63bb67;
    font-size: 12px;
}
.text__ffbc00__12{
	color:#ffbc00;
	font-size:12px;
}
.text__f85555__12{
	color:#f85555;
	font-size:12px;
}
.text__4285f4__12{
	color:#4285f4;
	font-size:12px;
}
.text__b6c5db__50{
	color:#b6c5db;
	font-size:50px;
	line-height:50px;
}


// btns
.bt__4285f4{
	color:#4285f4;
	font-size:14px;
	background: #fff;
	border:1px solid #c4d1e6;
	border-radius: 4px;
    padding: 5px 13px;
}
.bt__add{
	width: 110px !important;
    height: 39px !important;
    line-height: 20px !important;
    font-size: 16px !important;
	background: #1a73e8 !important;
	color:#fff !important;
}
.bt__cancel{
	width: 110px !important;
    height: 39px !important;
    line-height: 20px !important;
    font-size: 16px !important;
	background: #b6c5db !important;
	color:#424e60 !important;
	font-weight:600  !important;
}

// btns
.background__dfe4ec{
	background: #dfe4ec;
}
// table css
.table th,.table td{
    border: none;
	background: #fff;
	font-weight:normal;
	border-bottom:none !important;
	border-top:none;
}
.table th{
	border-top:none !important;
	color: #1a73e8;
	font-size:12px;
	font-weight:600;
	padding: 15px 30px !important
}
.table td{
	border-top :1px solid #c4d1e6  !important;
	color: #353a3e;
	font-size:12px;
	font-weight:600;
	padding: 12px 30px !important
}
.table tfoot tr td{
	border-top:none !important;
}
.table th:first-child{
	border-radius: 7px 0 0 0;
}
.table th:last-child{
	border-radius: 0 7px 0 0;
}
.table tr:last-child td:first-child{
	border-radius: 0px 0px 0px 10px;
}
.table tr:last-child td:last-child{
	border-radius: 0px 0px 10px 0px;
}
.table tfoot tr td{
	background: transparent;
}
.pagination {
	justify-content: center !important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #353a3e  !important;
    background-color: transparent !important;
    border-color: transparent !important;
	border: none !important;
	font-size:13px;
}
.page-item.disabled .page-link{
	color: #1a73e8 !important;
    background-color: transparent !important;
    border-color: transparent !important;
	border: none !important;
	font-size:13px;
}
.page-link{
	color: #1a73e8 !important;
	background-color: transparent !important;
	border-color: transparent !important;
	border: none !important;
	font-size:13px;
}
.page-item:last-child .page-link{
	color: #1a73e8 !important;
    background-color: transparent !important;
    border-color: transparent !important;
	border: none !important;
	font-size:13px;
}
.pagination{
	align-items: center;;
}
.pagination li:first-child:before {
	position: relative;
	float:right;
	content: "Previous";
	color: #1a73e8 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border: none !important;
	font-size: 13px;
	top:-1px;
}
.pagination li:last-child:before {
	position: relative;
	float:right;
	content: "Next";
	color: #1a73e8 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border: none !important;
	font-size: 13px;
	top:-1px;
}
.pagination li:last-child a,.pagination li:first-child a{
	display:none;
}
// table css

// modal css
.modal__body .form-group{
	padding: 22px 30px !important;
	margin-bottom:0;
}
.modal__body .form-control{
	padding:0px !important;
	color: #353a3e;
	font-weight:600;
	height:auto !important;
	font-size: 13px;
}
.modal__body .form-control:disabled,.modal__body .form-control[readonly]{
	background: #dfe4ec;
}
.modal-backdrop.show{
	opacity:0.7 !important;
}
.modal__body label{
	margin-bottom:0 !important;
	font-size: 13px;
    color: #4285f4;
	text-transform: uppercase;
	font-weight:600;
}
.modal__body input{
	background: transparent;
}
.modal-content{
	border-radius:10px !important; 
}
.border__bottom__c4d1e6{
	border-bottom: 1px solid #c4d1e6;
	border-radius: 9px 9px 0 0;
}
// modal css

// progress 

.pro__base{
	position: relative;
    background: #cbddfb;
    height: 7px;
    width: 189px;
    border-radius: 27px;
    text-align: right;
    float: right;
}
.pro__top{
	position: absolute;
    background: #007bff ;
    height: 7px;
	border-radius: 27px;
	// left:-1px;
}
/********** Main *********/

.row{
	margin-left:0 !important;
	margin-right:0 !important;
}



/***************theme.css***********************/
/*
Name: 			theme.css
Written by: 	Prasanna
Version: 		1.0
*/
/* Spacements */
/* spacement top & bottom */
.m-none {
	margin: 0 !important;
}

.m-auto {
	margin: 0 auto !important;
}

.m-xs { 
	margin: 5px !important;
}

.m-sm {
	margin: 10px !important;
}

.m-md {
	margin: 15px !important;
}

.m-lg {
	margin: 20px !important;
}

.m-xl {
	margin: 25px !important;
}

.m-xlg {
	margin: 30px !important;
}

/* spacement top	*/
.mt-none {
	margin-top: 0 !important;
}

.mt-xs { 
	margin-top: 5px !important;
}

.mt-sm {
	margin-top: 10px !important;
}

.mt-md {
	margin-top: 15px !important;
}

.mt-lg {
	margin-top: 20px !important;
}

.mt-xl {
	margin-top: 25px !important;
}

.mt-xlg {
	margin-top: 30px !important;
}

.mt-xxlg {
	margin-top: 40px !important;
}

/* spacement bottom	*/
.mb-none {
	margin-bottom: 0 !important;
}

.mb-xs {
	margin-bottom: 5px !important;
}

.mb-sm {
	margin-bottom: 10px !important;
}

.mb-md {
	margin-bottom: 15px !important;
}

.mb-lg {
	margin-bottom: 20px !important;
}

.mb-xl {
	margin-bottom: 25px !important;
}

.mb-xlg {
	margin-bottom: 30px !important;
}

.mb-xxlg {
	margin-bottom: 40px !important;
}

/* spacement left	*/
.ml-none {
	margin-left: 0 !important;
}

.ml-xs {
	margin-left: 5px !important;
}

.ml-sm {
	margin-left: 10px !important;
}

.ml-md {
	margin-left: 15px !important;
}

.ml-lg {
	margin-left: 20px !important;
}

.ml-xl {
	margin-left: 25px !important;
}

.ml-xlg {
	margin-left: 30px !important;
}

/* spacement right	*/
.mr-none {
	margin-right: 0 !important;
}

.mr-xs {
	margin-right: 5px !important;
}

.mr-sm {
	margin-right: 10px !important;
}

.mr-md {
	margin-right: 15px !important;
}

.mr-lg {
	margin-right: 20px !important;
}

.mr-xl {
	margin-right: 25px !important;
}

.mr-xlg {
	margin-right: 30px !important;
}

/* Spacement Padding */
.p-none {
	padding: 0 !important;
}

.p-xs {
	padding: 5px !important;
}

.p-sm {
	padding: 10px !important;
}

.p-md {
	padding: 15px !important;
}

.p-lg {
	padding: 20px !important;
}

.p-xl {
	padding: 25px !important;
}

.p-xlg {
	padding: 30px !important;
}

/* spacement top	*/
.pt-none {
	padding-top: 0 !important;
}

.pt-xs {
	padding-top: 5px !important;
}

.pt-sm {
	padding-top: 10px !important;
}

.pt-md {
	padding-top: 15px !important;
}

.pt-lg {
	padding-top: 20px !important;
}

.pt-xl {
	padding-top: 25px !important;
}

.pt-xlg {
	padding-top: 30px !important;
}

.pt-xxlg {
	padding-top: 40px !important;
}

.pt-xxxlg {
	padding-top: 50px !important;
}

/* spacement bottom	*/
.pb-none {
	padding-bottom: 0 !important;
}

.pb-xs {
	padding-bottom: 5px !important;
}

.pb-sm {
	padding-bottom: 10px !important;
}

.pb-md {
	padding-bottom: 15px !important;
}

.pb-lg {
	padding-bottom: 20px !important;
}

.pb-xl {
	padding-bottom: 25px !important;
}

.pb-xlg {
	padding-bottom: 30px !important;
}

.pb-xxlg {
	padding-bottom: 40px !important;
}

.pb-xxxlg {
	padding-bottom: 50px !important;
}

/* spacement left	*/
.pl-none {
	padding-left: 0 !important;
}

.pl-xs {
	padding-left: 5px !important;
}

.pl-sm {
	padding-left: 10px !important;
}

.pl-md {
	padding-left: 15px !important;
}

.pl-lg {
	padding-left: 20px !important;
}

.pl-xl {
	padding-left: 25px !important;
}

.pl-xlg {
	padding-left: 30px !important;
}
.pl-xxlg {
	padding-left: 40px !important;
}

/* spacement right	*/
.pr-none {
	padding-right: 0 !important;
}

.pr-xs {
	padding-right: 5px !important;
}

.pr-sm {
	padding-right: 10px !important;
}

.pr-md {
	padding-right: 15px !important;
}

.pr-lg {
	padding-right: 20px !important;
}

.pr-xl {
	padding-right: 25px !important;
}

.pr-xlg {
	padding-right: 30px !important;
}

/* End Spacements */

.text-weight-light {
	font-weight: 200 !important;
}

.text-weight-normal {
	font-weight: 400 !important;
}

.text-weight-semibold {
	font-weight: 600 !important;
}

.text-weight-bold {
	font-weight: 700 !important;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-center{
    text-align: center !important;
}

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}

a:hover,a:active,a:focus{
    text-decoration: none !important;
}

a.w-link,a.w-link:hover{
    color: #fff;
    text-decoration: none;
}

.inline__block{
	display:inline-block;
}

.display__none{
	display:none;
}

.vis__hidden{
	visibility: hidden !important;
}
.cursor__pointer{
	cursor:pointer;
}

.float__right{
	float:right;
}
.float__left{
	float:left;
}
.position__relative{
	position:relative;
}
.display-inline-block{
	display: inline-block !important;
}
.display-flex-center{
	display: flex !important;
	align-items: center !important;
}
.flex__row{
    display:flex;
    flex-flow:row;
}
.flex__row__reverse{
    display:flex;
    flex-flow:row-reverse;
}
.error__msg{
	color: #ff2525;
    font-size: 12px;
    text-align: right;
    visibility: visible;
}
.font12{
	font-size:12px;
}
.font11{
	font-size:11px;
}
.font13{
	font-size:13px;
}

.width__auto{
    width:auto !important;
}
/************theme.css******************/

/* media queries scss */
@media (min-width: 320px) {
	.max__w__1280{
		max-width: 92%;
		margin:  auto !important;
	}
	.cards1,.cards{
		margin-top:10px !important;
		margin-bottom:10px !important;
	}
	.modal{
		top:0 !important;
	}
	.modal-body{
		padding:0  !important;
	}
	.progress-label{
		float:left;
	}
	.progress__bar__row >div{
		margin-bottom:10px;
	}
	.progress__bar+div.text-right{
		text-align:center !important;
	}
}
@media (min-width: 768px) {
    .modal{
		top:12% !important;
	}  
	.progress__bar__row >div{
		margin-bottom:0px;
	}
	.progress__bar+div.text-right{
		text-align:right !important;
	}
}
@media (min-width: 1020px) {
	.progress-label {
		float: right;
	}
}
@media (min-width: 1300px) {
    .max__w__1280{
		max-width: 1200px;
		margin: auto !important;
	}
	.cards1,.cards{
		margin-top:20px !important;
		margin-bottom:20px !important;
	}
	.modal.show .modal-dialog {
		max-width: 600px;
	}
}
@media (min-width: 1400px) {
    .max__w__1280{
		max-width: 1280px;
	}
}
/* media queries scss */