@import url('assets/css/theme.scss');
@import url('assets/css/style.scss');
@import url('assets/css/theme-layout.scss');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: 'Product Sans';
    src: url('assets/fonts/ProductSans-Regular.ttf') format("opentype");
    src: url('assets/fonts/ProductSans-Medium.ttf') format("opentype");
}