<header >
  <div id="desktop-menu">
    <div class="bs-example bs__example">
      <nav class="navbar navbar-expand-md p-none ">
        <a href="#" class="navbar-brand">
          <img class="mr-sm" src="../../../assets/images/landing-logo.gif" />
          <span class="header__logo__text">FDA MyStudies </span>
        </a>
      </nav>
    </div>
  </div>
</header>

<section class="max__w__850 add__location">
  <form>
    <h2 class="subheader__title mb-sm mt-lg">Set Up Account</h2>
    <section class="bg__white card__inside__pad box__shadow-cmn m-none">
      <div class="mt-lg">
        <div class="row border-bottom__c4d1e6">
            <div class="col-xs-12 col-md-12 p-none">
            <div class="form-group">
                <label for="email">Email ID</label>
                <input type="text" class="form-control" id="email"  placeholder="Enter Email" value="petersmith@gmail.com">
            </div>
            </div>
        </div>
        <div class="row ">
          <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
            <div class="form-group ">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname"  placeholder="Enter First Name" value="Peter">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 p-none">
            <div class="form-group ">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname"  placeholder="Enter Last Name" value="Smith">
            </div>
          </div>
        </div>
      </div>
    </section>

    <h2 class="subheader__title mb-sm">Create Password</h2>
    <section class="bg__white card__inside__pad box__shadow-cmn m-none">
      <div class="row ">
        <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
        <div class="form-group ">
            <label for="newpwd">Password</label>
            <input type="text" class="form-control" id="newpwd"  placeholder="Enter Password">
        </div>
        </div>
        <div class="col-xs-12 col-md-6 p-none">
        <div class="form-group ">
            <label for="cnfpwd">Confirm Password</label>
            <input type="text" class="form-control" id="cnfpwd"  placeholder="Enter Confirm Password">
        </div>
        </div>
      </div>
    </section>
    <section class="btn__container flex__justify__space-between mb-xlg">
      <div>
        <button type="submit" class="btn bt__add mr-sm" disabled>Submit</button>
        <button type="button" class="btn bt__cancel" disabled> Cancel</button>
      </div>
    </section>
  </form>
</section>