<div class="subheader subheader__menu">
  <div class="row" >
    <div class="col-md-12 ">
      <ul>
        <li class="active"><a href="#">Sites</a></li>
        <li><a href="#">Studies</a></li>
        <li><a href="#">Apps </a></li>
      </ul>
    </div>
  </div>
</div> 

<div class="bg__white cards  box__shadow-cmn">
  <div class="row">
    <div class="col-xs-12 col-md-1 p-none">
      <img class="" src="../../../assets/site-list-tab.gif" alt="A Study for Pregnant Women">
    </div>
    <div class="col-xs-12  col-md-11 p-none">
      <div>
        <div class=" row">
          <div class="col-xs-12  col-md-12 p-none text__353a3e__20">A Study for Pregnant Women</div>
          <div class="text__757b80__12 row flex-wrap-unset col-xs-12  col-md-12 p-none">
            <div class="col-xs-6 col-md-3  p-none">4 sites</div>
            <div class="col-xs-6 col-md-9 text-right p-none">Enrolled/Invited</div>
          </div>
          <div class="col-xs-12 col-md-12 p-none text__353a3e__14 progress__bar">
            <div class="row display-flex-center progress__bar__row">
              <div class="col-xs-12 col-md-9 p-none">Site1 loreum ipsim A</div>
              <div class="col-xs-12 col-md-3 p-none lh__6">
                <div class="progress-label font__bold text__63bb67__12">30/50</div>
                <div class="progress">
                  <span class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></span>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row display-flex-center progress__bar__row">
              <div class="col-xs-12 col-md-9 p-none">Site2 loreum ipsim A</div>
              <div class="col-xs-12 col-md-3 p-none lh__6">
                <div class="progress-label font__bold text__63bb67__12">30/50</div>
                <div class="progress">
                  <span class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></span>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row display-flex-center progress__bar__row">
              <div class="col-xs-12 col-md-9 p-none">Site3 loreum ipsim A</div>
              <div class="col-xs-12 col-md-3 p-none lh__6">
                <div class="progress-label font__bold text__63bb67__12">30/50</div>
                <div class="progress">
                  <span class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></span>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row display-flex-center progress__bar__row">
              <div class="col-xs-12 col-md-9 p-none">Site4 loreum ipsim A</div>
              <div class="col-xs-12 col-md-3 p-none lh__6">
                <div class="progress-label font__bold text__63bb67__12">30/50</div>
                <div class="progress">
                  <span class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></span>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- location -->
<!-- <div class="subheader padding__0__140">
  <div class="container">
    <div class="row" >
      <div class="col-md-6 pl-none subheader__title">Locations</div>
      <div class="col-md-6 pr-none align__flex__right" ><button class="btn btn-primary  width__auto blue__btn font14">Add Location</button></div>
    </div>
  </div>
</div> 
<div class="cards1">
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
      <th>
        <mfDefaultSorter by="name">Location ID</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="email">Location Name</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="age">Associated Studies</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="city">Status</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of mf.data">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.age}}</td>
      <td>{{user.city | uppercase}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
    </table>
</div> -->

<!-- <div class="subheader padding__0__140"> // subheader for add new location screen
  <div class="container">
    <div class="row" >
      <div class="col-md-12 subheader__title"><img src="../../../assets/left-arrow.gif" /> Add Location</div>
    </div>
  </div>
</div> -->
  <!-- location -->

  <div class="panel with-nav-tabs panel-primary">
    <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1primary" data-toggle="tab">Primary 1</a></li>
                <li><a href="#tab2primary" data-toggle="tab">Primary 2</a></li>
                <li><a href="#tab3primary" data-toggle="tab">Primary 3</a></li>
            </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1primary">Primary 1</div>
            <div class="tab-pane fade" id="tab2primary">Primary 2</div>
            <div class="tab-pane fade" id="tab3primary">Primary 3</div>
        </div>
    </div>
</div>